name: Reusable - Check App

on:
  workflow_call:
    inputs:
      agent:
        required: false
        type: string
        description: "Agent where the workflow will be run"
        default: ubuntu-latest
      checkout_repository:
        required: false
        type: string
        description: "Repository to checkout (owner/repo format). If empty, uses the current repository"
        default: ""
      checkout_ref:
        required: false
        type: string
        description: "Git ref to checkout (branch, tag, or commit SHA). If empty, uses the default branch"
        default: ""
      checkout_depth:
        required: false
        type: number
        description: "Depth of checkout. If empty, uses the default depth"
        default: 0
      node_version:
        required: false
        type: string
        default: "18.6"
      cache:
        required: false
        type: string
        default: yarn
      install_dependencies:
        required: false
        type: boolean
        default: true
      build_packages:
        required: false
        type: boolean
        default: true
      build_command:
        required: false
        type: string
        default: ""
      run_checks:
        required: false
        type: boolean
        default: true
      working_directory:
        required: false
        type: string
        default: "."

jobs:
  check_app:
    runs-on: ${{ inputs.agent }}
    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: ${{ inputs.checkout_depth }}
          ref: ${{ inputs.checkout_ref }}
          repository: ${{ inputs.checkout_repository }}
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}
          cache: ${{ inputs.cache }}
      - name: Install dependencies
        if: ${{ inputs.install_dependencies }}
        run: yarn
      - name: Build packages
        if: ${{ inputs.build_packages }}
        run: |
          ${{ inputs.build_command }}
      - name: Run typescript checks
        if: ${{ inputs.run_checks }}
        run: yarn types:check
