name: Vault Migration Docker Build

on:
  pull_request:
    branches:
      - main
    paths:
      - 'python/vault-migration/**'
  push:
    branches:
      - main
    paths:
      - 'python/vault-migration/**'

jobs:
  docker-build-vault-migration:
    #TODO: change to "uses: Aventus-Network-Services/Infra-scripts/.github/workflows/docker-build.yaml@v1.0.0"
    uses: Aventus-Network-Services/Infra-scripts/.github/workflows/docker-build.yaml@DEVOPS-393-vault-dev-migration
    with:
      runner: avn-runner
      config_creds: false
      aws_region: eu-west-1
      aws_account_id: 931945598683
      ecr_repository_name: vault-migration
      git_context: ./python/vault-migration
    secrets: inherit