name: Vault Migration Docker Build

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    #paths:
    #  - 'python/vault-migration/**'
  push:
    branches:
      - main
    paths:
      - 'python/vault-migration/**'

jobs:
  docker-build-vault-migration:
    uses: Aventus-Network-Services/Infra-scripts/.github/workflows/docker-build.yaml@DEVOPS-393-final-fix-3
    with:
      runner: avn-runner
      config_creds: false
      aws_region: eu-west-1
      aws_account_id: 931945598683
      ecr_repository_name: vault-migration
      default_branch: main
      git_context: ./python/vault-migration
    secrets: inherit